CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y
CONFIG_TARGET_KERNEL_PARTSIZE=128
CONFIG_TARGET_ROOTFS_PARTSIZE=32640
CONFIG_GRUB_EFI_IMAGES=y

CONFIG_PACKAGE_luci-i18n-base-zh-cn=y
CONFIG_PACKAGE_luci-i18n-wireguard-zh-cn=y
CONFIG_PACKAGE_luci-i18n-udpxy-zh-cn=y

CONFIG_PACKAGE_luci-theme-bootstrap=y

CONFIG_VMDK_IMAGES=y
CONFIG_QCOW2_IMAGES=y
